
<p>Debugging token - &nbsp;<a target="_blank" href="https://tech.yandex.com/oauth/doc/dg/tasks/get-oauth-token-docpage/">https://tech.yandex.com/oauth/doc/dg/tasks/get-oauth-token-docpage/</a></p>
<p><a target="_blank" href="https://oauth.yandex.com/">https://oauth.yandex.com/</a></p>
<p><a target="_blank" href="https://tech.yandex.com/disk/webdav/">https://tech.yandex.com/disk/webdav/</a></p>
<p><a href="https://tech.yandex.com/oauth/">https://tech.yandex.com/oauth/</a></p>
<p>Yandex services store various types of user data: files in Yandex.Disk, photos in Yandex.Fotki, messages in Yandex.Mail, and so on. To make it convenient for users to access this data from other web services or applications, Yandex uses the OAuth 2.0 open authentication protocol.</p>
<p>According to the protocol, the developer registers an application on the Yandex OAuth server and requests access to specific user data. The user authenticates on Yandex and can allow or deny the access requested.</p>
<p>With the OAuth protocol, users do not enter their passwords in applications, so their accounts cannot be compromised.</p>